name: Deploy

on:
  push:
    branches: [master]

env:
  HUSKY: 0

jobs:
  build-and-deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Build functions
      run: |
        npm ci
        npm run build:prod
    - name: Deploy to Azure Functions
      uses: Azure/functions-action@v1
      with:
        app-name: Sbotify
        package: dist
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
